Project/Client/Service References/UserService/DeepReplicationUserServiceSystem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeepReplicationUserServiceSystem" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfUserService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SearchById_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchById" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SearchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SearchByFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByFirstName" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SearchByFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByFirstNameResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SearchByLastName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByLastName" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SearchByLastName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByLastNameResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SearchByGender_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByGender" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SearchByGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SearchByDateOfBirth_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByDateOfBirth" />
  </wsdl:message>
  <wsdl:message name="IWcfUserService_SearchByDateOfBirth_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByDateOfBirthResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfUserService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Add" message="tns:IWcfUserService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddResponse" message="tns:IWcfUserService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Delete" message="tns:IWcfUserService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteResponse" message="tns:IWcfUserService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfUserService/SearchById" message="tns:IWcfUserService_SearchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfUserService/SearchByIdResponse" message="tns:IWcfUserService_SearchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByFirstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfUserService/SearchByFirstName" message="tns:IWcfUserService_SearchByFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfUserService/SearchByFirstNameResponse" message="tns:IWcfUserService_SearchByFirstName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByLastName">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfUserService/SearchByLastName" message="tns:IWcfUserService_SearchByLastName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfUserService/SearchByLastNameResponse" message="tns:IWcfUserService_SearchByLastName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfUserService/SearchByGender" message="tns:IWcfUserService_SearchByGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfUserService/SearchByGenderResponse" message="tns:IWcfUserService_SearchByGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByDateOfBirth">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfUserService/SearchByDateOfBirth" message="tns:IWcfUserService_SearchByDateOfBirth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfUserService/SearchByDateOfBirthResponse" message="tns:IWcfUserService_SearchByDateOfBirth_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfUserService" type="tns:IWcfUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IUserService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUserService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <soap:operation soapAction="http://tempuri.org/IWcfUserService/SearchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByFirstName">
      <soap:operation soapAction="http://tempuri.org/IWcfUserService/SearchByFirstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByLastName">
      <soap:operation soapAction="http://tempuri.org/IWcfUserService/SearchByLastName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByGender">
      <soap:operation soapAction="http://tempuri.org/IWcfUserService/SearchByGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByDateOfBirth">
      <soap:operation soapAction="http://tempuri.org/IWcfUserService/SearchByDateOfBirth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeepReplicationUserServiceSystem">
    <wsdl:port name="BasicHttpBinding_IWcfUserService" binding="tns:BasicHttpBinding_IWcfUserService">
      <soap:address location="http://localhost:8080/UserSystem" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>